*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#partner 
{
    height: 300px;
}

#partner .h2
{
    margin: 50px 0px;
    color: rgb(0, 0, 53);
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#partner .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

#partner .container .item {
    text-align: center;
}

#partner .container .item img {
    width: 100px;
}
