* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    height: 5000px;
    margin-top: 110px;
    margin-left: 60px;
    margin-right: 60px;
}

#content iframe {
    width: 100%;
}

#content h2 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

#content p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
}

#content h3 {
    margin-top: 40px;
    color: brown;
}

#content .i {
    text-align: center;
}

#content .taiday {
    padding: 20px;
    text-align: center;
    background-color: red;
    width: 250px;
}

#content .taiday:hover {
    background-color: rgb(255, 101, 101);
}

#content .ph3 {
    font-size: 18px;
    color: brown;
}

/* #content .a2 img {
    display: inline-block;
    text-align: center;
} */