#header .nav_bar {
    display: none;
    width: 80px;
}

#header .nav_bar i {
    font-size: 30px;
    line-height: 80px;
    padding: 0px 20px;
}

#header .nav_bar:hover {
    background-color: #ccc;
}

@media only screen and (max-width: 1023px) {
    #header {
        justify-content: space-between;
    }
    
    #header .nav {
        display: none;
    }

    #header .nav_bar {
        display: block;
    }

    #header img {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 739px) {

}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    
}